<%= javascript_include_tag :fckeditor %> 
<h3>Editing <%= @page.title %></h3>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %> :: <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Updated By (put your name here)" %> :: <%= f.text_field :updated_by %>
  </p> 
  <p>
    <%= f.submit "Update" %>
  </p>
  <p>
    <%= fckeditor_textarea("page", "content", :toolbarSet => 'Easy', :width => '535px', :height => '800px') %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
  <%= link_to 'View this Page', @page %> |
  <%= render :partial => 'layouts/adminlinks'%>
</p>

<br />