<h3>Manage Pages</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Updated by</th>
    <th>On</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.title %></td>
    <td><%=h page.updated_by %></td>
    <td><%=h page.updated_at.strftime("%m/%d/%y - %I:%M%p") %></td>
    <td>  </td>
    <td><%= link_to 'View', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
  </tr>
<% end %>
</table>

<br />

<p>
  <%= render :partial => 'layouts/adminlinks' %>
</p>

<br />