<%= javascript_include_tag :fckeditor %> 
<h3>New Page</h3>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "Updated By (put your name here)" %>
    <%= f.text_field :updated_by %>
  </p>   
  <p>
    <%= f.label "Page Content" %><br />
    <%= fckeditor_textarea("page", "content", :toolbarSet => 'Easy', :width => '600px', :height => '800px') %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>

<p>
  <%= render :partial => 'layouts/adminlinks' %>
</p>