<div id="content">
  <h2>New Event Photo</h2>
  
  <% form_for :event_photo, @event_photo, :url => event_photos_path, :html => { :multipart => true } do |f| %>
    <p>
      <%= f.error_messages %>
      <%= f.file_field :photo %>
    </p>
    <p>
      <%= f.label :caption %><br />
      <%= f.text_field :caption, :size => 100, :style => "width: 35em;" %>
    </p>
    <p>
      <%= f.label "What Event is this Photo of?" %><br />
      <%= collection_select( :event_photo, :event_id, Event.all, :id, :title ) %>

    </p>
 
    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>
  <br />
  <p>
    <%= link_to 'Back', event_photos_path %>
    
  </p>
</div>