<h3>
  Editing <%= @photo.photo_file_name %> :: <%= @photo.page_title %>
</h3>

<% form_for(@photo) do |f| %>
  <p><%= f.error_messages %></p>
  <p>
  <%= image_tag @photo.photo.url(:thumb) %>    
  </p>
  <p>
    <%= f.label "Page Name" %>
    <%= collection_select( :photo, :page_id, Page.find(:all), :id, :title ) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
  <%= link_to 'Show', @_photo %> | <%= link_to 'Back', photos_path %>
</p>