<h3>Manage Photos</h3>
<% if logged_in? -%>
  <p>
    <%= link_to 'New Photo', new_photo_path %>
  </p>
<% end -%>

<p>
  <table style="border:none;" >
    <tr>
    </tr>
 
    <% for photo in @photos %>
    <tr>
      <td>
        <a href="<%= photo.photo.url(:medium) %>" rel="highslide" class="highslide" >
          <%= image_tag photo.photo.url(:thumb) %>
        </a>
      </td>
      <td>
        <table>
          <tr colspan="3">
            <%= photo.photo_file_name %>
            <br />
            <h3><%= photo.page_title %></h3>
          </tr>
          <tr>
            <td><%= link_to 'View', photo %></td>
            <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
            <td><%= link_to 'Delete', photo, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        </table>
      </td>
    </tr>
    <% end %>
  </table>
</p>
<% if logged_in? -%>
  <p>
    <%= link_to 'New Photo', new_photo_path %> |
    <%= render :partial => 'layouts/adminlinks'%>
  </p>
<% end -%>
<br />