<p>
  <b>Photo file name:</b>
  <%=h @photo.photo_file_name %>
</p>

<p>
  <b>Photo content type:</b>
  <%=h @photo.photo_content_type %>
</p>

<p>
  <b>Photo file size:</b>
  <%=h @photo.photo_file_size %>
</p>

<p>
  <b>Page:</b>
  <%=h @photo.page_id %>
</p>

<p>
  <b>Caption:</b>
  <%=h @photo.caption %>
</p>

<p>
  <b>Photo updated at:</b>
  <%=h @photo.photo_updated_at %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
