<p>
  <h3>
    <%= @photo.photo_file_name %> :: <%= @photo.page_title %>
  </h3>
  <a href="<%= @photo.photo.url %>" rel="highslide" class="highslide" >
    <%= image_tag @photo.photo.url(:medium), :width => "400px" %>
  </a>
  <%= image_tag @photo.photo.url(:thumb) %>
</p>
<p>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
  <%= link_to 'Back', photos_path %>
</p>